<h1>Animations</h1>

<nav>
    <a routerLink="/open-close" routerLinkActive="active" ariaCurrentWhenActive="page" id="open-close">Open/close</a>
    <a id="enter-leave" routerLink="/enter-leave" routerLinkActive="active" ariaCurrentWhenActive="page">Enter/Leave</a>
    <a id="insert-remove" routerLink="/insert-remove" routerLinkActive="active" ariaCurrentWhenActive="page">Insert/Remove</a>
    <a id="heroes" routerLink="/heroes" routerLinkActive="active" ariaCurrentWhenActive="page">Filter/Stagger</a>
</nav>


<div>
    <router-outlet></router-outlet>
</div>