<h1>DI Cookbook</h1>
<div class="di-component">
    <h3>Logged in user</h3>
    <div>Name: {{userContext.name}}</div>
    <div>Role: {{userContext.role}}</div>
</div>


<div class="di-component">
    <h3>Hero Bios</h3>
    <app-hero-bios></app-hero-bios>
  </div>


  <div id="highlight"  class="di-component"  >
    <h3>Hero Bios and Contacts</h3>
    <div>
      <app-hero-bios-and-contacts></app-hero-bios-and-contacts>
    </div>
  </div>


  <div class="di-component">
    <app-storage></app-storage>
  </div>
  